<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- TODO: Add Webpack and integrate Bootstrap with it -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<script src="/assets/js/bootstrap.min.js"></script>

		<script defer src="/index.js"></script>

		<link href="/assets/css/index.css" rel="stylesheet" />

		<title>AAF Maker</title>
	</head>

	<body>
		<div class="container px-5 pb-5">
			<div class="text-center pt-5">
				<h1>AAF Maker</h1>
				<small>
					<a data-bs-target="#helpModal" data-bs-toggle="modal" href="">Need help?</a>
				</small>

				<div
					aria-hidden="true"
					aria-labelledby="helpModalLabel"
					class="modal fade"
					id="helpModal"
					tabindex="-1"
				>
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="helpModalLabel">Help</h5>

								<button
									aria-label="Close"
									data-bs-dismiss="modal"
									class="btn-close"
									type="button"
								></button>
							</div>

							<div class="modal-body">
								<div class="accordion" id="helpModalAccordion">
									<div class="accordion-item">
										<h2 class="accordion-header" id="questionOne">
											<button
												aria-controls="answerOne"
												aria-expanded="true"
												class="accordion-button"
												data-bs-target="#answerOne"
												data-bs-toggle="collapse"
												type="button"
											>
												Why are the values in my AAF file missing?
											</button>
										</h2>

										<div
											aria-labelledby="questionOne"
											data-bs-parent="#helpModalAccordion"
											class="accordion-collapse collapse"
											id="answerOne"
										>
											<p class="text-start m-3">
												It's because you have missing fields in the form.
											</p>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="questionTwo">
											<button
												aria-controls="answerTwo"
												aria-expanded="true"
												class="accordion-button"
												data-bs-target="#answerTwo"
												data-bs-toggle="collapse"
												type="button"
											>
												I think I found an error that's not supposed to be there.
											</button>
										</h2>

										<div
											aria-labelledby="questionTwo"
											data-bs-parent="#helpModalAccordion"
											class="accordion-collapse collapse"
											id="answerTwo"
										>
											<p class="text-start m-3">
												Kindly email me at sintosjm@gmail.com and concisely explain the error
												that you saw.
											</p>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="questionThree">
											<button
												aria-controls="answerThree"
												aria-expanded="true"
												class="accordion-button"
												data-bs-target="#answerThree"
												data-bs-toggle="collapse"
												type="button"
											>
												Who made this?
											</button>
										</h2>

										<div
											aria-labelledby="questionThree"
											data-bs-parent="#helpModalAccordion"
											class="accordion-collapse collapse"
											id="answerThree"
										>
											<p class="text-start m-3">
												<a href="https://twitter.com/isthatsintos" target="_blank"
													>@isthatsintos.</a
												>
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="px-5">
				<form id="aafForm">
					<h3>Date of Submission</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="dosMonth">Month</label>
							<select class="form-select" id="dosMonth" name="dateOfSubmission[month]">
								<option value="January">January</option>
								<option value="February">February</option>
								<option value="March">March</option>
								<option value="April">April</option>
								<option value="May">May</option>
								<option value="June">June</option>
								<option value="July">July</option>
								<option value="August">August</option>
								<option value="September">September</option>
								<option value="October">October</option>
								<option value="November">November</option>
								<option value="December">December</option>
							</select>
						</div>

						<div class="col">
							<label class="form-label" for="dosDate">Date</label>
							<input
								class="form-control"
								id="dosDate"
								min="1"
								name="dateOfSubmission[date]"
								placeholder="Date"
								type="number"
							/>
						</div>

						<div class="col">
							<label class="form-label" for="dosYear">Year</label>
							<input
								class="form-control"
								id="dosYear"
								name="dateOfSubmission[year]"
								placeholder="Year"
								type="text"
							/>
						</div>
					</div>

					<h3 class="mt-4">Professor information</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="professorName">Name</label>
							<input
								class="form-control"
								id="professorName"
								name="professor[name]"
								placeholder="Professor's name"
								type="text"
							/>
						</div>

						<div class="col">
							<label class="form-label" for="professorDepartment">Department</label>
							<input
								class="form-control"
								id="professorDepartment"
								name="professor[department]"
								placeholder="Professor's department"
								type="text"
							/>
						</div>
					</div>

					<h3 class="mt-4">Student information</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="studentName">Name</label>
							<input
								class="form-control"
								id="studentName"
								name="student[name]"
								placeholder="Name"
								type="text"
							/>
						</div>

						<div class="col-2">
							<label class="form-label" for="studentGender">Gender</label>
							<select class="form-select" id="studentGender" name="student[gender]">
								<option selected value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Nonbinary">Nonbinary</option>
							</select>
						</div>

						<div class="col-3">
							<label class="form-label" for="studentTeam">Team</label>
							<input
								class="form-control"
								id="studentTeam"
								name="student[team]"
								placeholder="Team name"
								type="text"
							/>
						</div>

						<div class="col-2">
							<label class="form-label" for="studentTitle">Title</label>
							<input
								class="form-control"
								id="studentTitle"
								name="student[title]"
								placeholder="Title"
								type="text"
							/>
						</div>
					</div>

					<h3 class="mt-4">Class information</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="courseCode">Course code</label>
							<input
								class="form-control"
								id="courseCode"
								name="class[courseCode]"
								placeholder="Course code"
								type="text"
							/>
						</div>

						<div class="col-2">
							<label class="form-label" for="section">Section</label>
							<input
								class="form-control"
								id="section"
								name="class[section]"
								placeholder="Section"
								type="text"
							/>
						</div>

						<div class="col-2">
							<label class="form-label" for="numberOfAbsences">No. of absences</label>
							<input
								class="form-control"
								id="numberOfAbsences"
								min="0"
								name="class[numberOfAbsences]"
								placeholder="No. of absences"
								type="number"
								value="0"
							/>
						</div>

						<div class="col-1">
							<label class="form-label" for="fromTime">Time</label>
							<input
								class="form-control"
								id="fromTime"
								name="class[fromTime]"
								placeholder="From"
								type="text"
							/>
						</div>

						<!-- TODO: Make sure to make sense of the meridiem options. e.g. look at how GCalendar does it -->
						<div class="col-1">
							<label></label>
							<div class="form-check">
								<input
									checked
									class="form-check-input"
									id="fromAM"
									name="class[fromMeridiem]"
									type="radio"
									value="AM"
								/>
								<label class="form-check-label" for="fromAM">AM</label>
							</div>
							<div class="form-check">
								<input
									class="form-check-input"
									id="fromPM"
									name="class[fromMeridiem]"
									type="radio"
									value="PM"
								/>
								<label class="form-check-label" for="fromPM">PM</label>
							</div>
						</div>

						<div class="col-1 mt-2">
							<label></label>
							<input class="form-control" id="toTime" name="class[toTime]" placeholder="To" type="text" />
						</div>

						<div class="col-1">
							<label></label>
							<div class="form-check">
								<input
									checked
									class="form-check-input"
									id="toAM"
									name="class[toMeridiem]"
									type="radio"
									value="AM"
								/>
								<label class="form-check-label" for="toAM">AM</label>
							</div>
							<div class="form-check">
								<input
									class="form-check-input"
									id="toPM"
									name="class[toMeridiem]"
									type="radio"
									value="PM"
								/>
								<label class="form-check-label" for="toPM">PM</label>
							</div>
						</div>
					</div>

					<div class="mt-4">
						<span class="col mt-2">Class schedule:</span>

						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="mondayCheckbox"
								name="class[mondaySchedule]"
								type="checkbox"
								value="Monday"
							/>
							<label class="form-check-label" for="mondayCheckbox">Monday</label>
						</div>
						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="tuesdayCheckbox"
								name="class[tuesdaySchedule]"
								type="checkbox"
								value="Tuesday"
							/>
							<label class="form-check-label" for="tuesdayCheckbox">Tuesday</label>
						</div>
						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="wednesdayCheckbox"
								name="class[wednesdaySchedule]"
								type="checkbox"
								value="Wednesday"
							/>
							<label class="form-check-label" for="wednesdayCheckbox">Wednesday</label>
						</div>
						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="thursdayCheckbox"
								name="class[thursdaySchedule]"
								type="checkbox"
								value="Thursday"
							/>
							<label class="form-check-label" for="thursdayCheckbox">Thursday</label>
						</div>
						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="fridayCheckbox"
								name="class[fridaySchedule]"
								type="checkbox"
								value="Friday"
							/>
							<label class="form-check-label" for="fridayCheckbox">Friday</label>
						</div>
						<div class="form-check form-check-inline mx-3">
							<input
								class="form-check-input"
								id="saturdayCheckbox"
								name="class[saturdaySchedule]"
								type="checkbox"
								value="Saturday"
							/>
							<label class="form-check-label" for="saturdayCheckbox">Saturday</label>
						</div>
					</div>

					<h3 class="mt-4">Event information</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="eventMonth">Month</label>
							<select class="form-select" id="eventMonth" name="event[month]">
								<option value="January">January</option>
								<option value="February">February</option>
								<option value="March">March</option>
								<option value="April">April</option>
								<option value="May">May</option>
								<option value="June">June</option>
								<option value="July">July</option>
								<option value="August">August</option>
								<option value="September">September</option>
								<option value="October">October</option>
								<option value="November">November</option>
								<option value="December">December</option>
							</select>
						</div>

						<div class="col">
							<label class="form-label" for="eventDate">Date</label>
							<input
								class="form-control"
								id="eventDate"
								min="1"
								name="event[date]"
								placeholder="Date"
								type="number"
							/>
						</div>

						<div class="col">
							<label class="form-label" for="eventYear">Year</label>
							<input
								class="form-control"
								id="eventYear"
								name="event[year]"
								placeholder="Year"
								type="text"
							/>
						</div>
					</div>

					<div class="row mt-4">
						<div class="col">
							<label class="form-label" for="assignedEvent">Name</label>
							<input
								class="form-control"
								id="assignedEvent"
								name="event[name]"
								placeholder="Assigned Event"
								type="text"
							/>
						</div>

						<div class="col">
							<label class="form-label" for="eventVenue">Name</label>
							<input
								class="form-control"
								id="eventVenue"
								name="event[venue]"
								placeholder="Event Venue"
								type="text"
							/>
						</div>

						<div class="col-1">
							<label class="form-label" for="calltime">Calltime</label>
							<input
								class="form-control"
								id="calltime"
								name="event[calltime]"
								placeholder="12:00"
								type="text"
							/>
						</div>

						<div class="col-1">
							<label></label>
							<div class="form-check">
								<input
									checked
									class="form-check-input"
									id="calltimeAM"
									name="event[meridiem]"
									type="radio"
									value="AM"
								/>
								<label class="form-check-label" for="calltimeAM">AM</label>
							</div>
							<div class="form-check">
								<input
									class="form-check-input"
									id="calltimePM"
									name="event[meridiem]"
									type="radio"
									value="PM"
								/>
								<label class="form-check-label" for="calltimePM">PM</label>
							</div>
						</div>
					</div>

					<h3 class="mt-4">Notee information</h3>
					<hr />
					<div class="row">
						<div class="col">
							<label class="form-label" for="noteeName">Name</label>
							<input
								class="form-control"
								id="noteeName"
								name="notee[name]"
								placeholder="Notee's name"
								type="text"
							/>
						</div>

						<div class="col">
							<label class="form-label" for="noteeTitle">Title</label>
							<input
								class="form-control"
								id="noteeTitle"
								name="notee[title]"
								placeholder="Notee's department"
								type="text"
							/>
						</div>
					</div>

					<div class="row d-flex justify-content-between mt-5">
						<hr />
						<div class="col-6">
							<input
								class="form-control"
								id="renameFile"
								name="renameFile"
								placeholder="Want to rename the file?"
								type="text"
							/>
						</div>

						<div class="btn-group col-2" role="group">
							<button
								class="btn btn-danger"
								data-bs-target="#confirmResetModal"
								data-bs-toggle="modal"
								id="resetButton"
								type="button"
							>
								Reset
							</button>
							<!-- TODO: Add a dialog after submitting the form -->
							<button class="btn btn-primary" id="submitButton" type="button">Submit</button>

							<div
								aria-hidden="true"
								aria-labelledby="confirmResetModalLabel"
								class="modal fade"
								id="confirmResetModal"
								tabindex="-1"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="confirmResetModalLabel">Confirm reset.</h5>

											<button
												aria-label="Close"
												data-bs-dismiss="modal"
												class="btn-close"
												type="button"
											></button>
										</div>

										<div class="modal-body">
											<p>Are you sure you want to reset the data you inputted?</p>
										</div>

										<div class="modal-footer">
											<button class="btn btn-warning" type="button" id="yesOption">Yes</button>

											<button
												class="btn btn-secondary"
												data-bs-dismiss="modal"
												id="noOption"
												type="button"
											>
												No
											</button>
										</div>
									</div>
								</div>
							</div>

							<div
								aria-hidden="true"
								aria-labelledby="submitModalLabel"
								class="modal fade"
								id="submitModal"
								tabindex="-1"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="submitModalLabel">Confirm reset.</h5>

											<button
												aria-label="Close"
												data-bs-dismiss="modal"
												class="btn-close"
												type="button"
											></button>
										</div>

										<div class="modal-body">
											<p>
												Your file has been downloaded. Do double check if the information is
												accurate and correct.
											</p>
										</div>

										<div class="modal-footer">
											<button
												class="btn btn-secondary"
												data-bs-dismiss="modal"
												id="closeButton"
												type="button"
											>
												Close
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
